.videoSideBar {
    /* Structure */
    position: absolute;
    top: 35%;
    right: 5px;

    /* Visuals */
    color: white;
}

.videoSideBar__options {
    /* Structure */
    padding: 20px;
    text-align: center;
}

.videoSideBar__options .videoSideBar__profile {
  margin: 0;
  height: 50px;
  border-radius: 50px;
}

.videoSideBar__options .videoSideBar__plus-icon {
  position: absolute;
  margin: 0;
  height: 20px;
  right: 34px;
  top: 60px;
}

/* Responsiveness */
@media only screen and (max-width: 440px) { /* confirmar melhor oq isso significa */
    .videoSideBar {
      top: 46%;
    }
  }