.videoSideBar {
    /* Structure */
    position: absolute;
    top: 50%;
    right: 10px;

    /* Visuals */
    color: white;
}

.videoSideBar__options {
    /* Structure */
    padding: 20px;
    text-align: center;
}

/* Responsiveness */
@media only screen and (max-width: 440px) { /* confirmar melhor oq isso significa */
    .videoSideBar {
      top: 46%;
    }
  }